{% extends 'songapp/base.html' %}

{% block title %}search songs{% endblock %}




{% block body%}
<h2 style="padding-top:2%; padding-left:4%;">searched Songs...</h2>
           
<div class="row" style="padding-left:4%;">
  {%for i in songsFound %}
  <div class="col-2" style="padding-top:2%;">
    <div class="card" style="width:10rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="..."  width="200px" height="150px">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        
        {% if user.is_authenticated %}
        <form action="/songs/history/" method="POST">{% csrf_token %}
          <input type="hidden" name="music_id" value="{{i.song_id}}">
          <a href="/songs/songpost/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        </form>
        {% else %}
        <a href="/songs/songpost/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        {% endif %}
      </div>
    </div>
  </div>
  {%endfor%}



{%endblock%}