{% extends 'songapp/base.html' %}
{%load static%}
{% block title %}Artist{% endblock %}




{% block body%}


{%for i in allsong%}
<div class="card mb-3" style="max-width: 1000px; padding-top:5%; padding-left:5%; border:0"
     xmlns:style="http://www.w3.org/1999/xhtml">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/media/{{i.singerimage}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h3 class="card-title" style:"padding-top:8%; color:red;">Welcome To {{i.singer1}} World</h3>

        </div>
        
          <div class="card-body">
            <h3 class="card-title" style:"padding-top:8%;">{{i.singer1}}</h3>
            <button type="button" class="btn btn-primary btn-lg">Add To favourite</button>
            <button type="button" class="btn btn-secondary btn-lg">Share</button>
            
          </div>
        
    </div>
</div>
{%endfor%}


<div>
    <hr style="padding-left:1%;">
  </div>

  <h3> {{i.singer1}} song...</h3>
  <table class="table">

    <thead>
      <tr>
   
        <th scope="col">Track</th>
        
        <th scope="col">play</th>
        <th scope="col">download</th>
      </tr>
    </thead>
  
    {% for i in allsong%}
    
    <tbody>
      <tr>
        <th scope="row"><img src="/media/{{i.image}}" class="img-fluid rounded-start" alt="..." height="50px" width="50px">{{i.name}}</th>
      
        <td> <audio controls style="padding-top:2%;" >
          <source src="/media/{{i.song}}" type="audio/mp3">
        </audio></td>
        
        <td><a href="/media/{{i.song}}" download><img src="{% static 'images/download.png'%}" width="30px" height="30px"></i></a></td>
      </tr>
    </tbody>
  
    {%endfor%}
  </table>
</div>
<div>
  <hr style="padding-left:1%;">
</div>



{% endblock%}




{% block javascript%}
{% endblock%}