{% extends 'songapp/base.html' %}

{% block title %}All songs{% endblock %}




{% block body%}

<h2 style="padding-top:2%; padding-left:4%;">All Songs...</h2>
           
<div class="row" style="padding-left:4%;">
  {%for i in song %}
  <div class="col-2" style="padding-top:2%;">
    <div class="card" style="width:10rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="..."  width="200px" height="150px">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        
        {% if user.is_authenticated %}
        <form action="/songs/history/" method="POST">{% csrf_token %}
          <input type="hidden" name="music_id" value="{{i.song_id}}">
          <a href="/songs/songpost/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        </form>
        {% else %}
        <a href="/songs/songpost/{{i.song_id}}"><button class="btn btn-outline-danger">Listen Song</button></a>
        {% endif %}
      </div>
    </div>
  </div>
  
  {% endfor %}

  
<!--<h4> Related songs.....</h4>
  <table class="table" style="padding-top:4%; padding-left:4%">
   
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">name</th>
        <th scope="col">image</th>
        <th scope="col">download</th>
      </tr>
    </thead>
    <tbody>
        {% for i in song%}
      <tr>
        <th scope="row">{{i.song_id}}</th>
        <td><img src="{{i.image.url}}" width="75px" alt="...">{{i.name}}</td>
       <td style="padding-right:2%"><a href="#" class="btn  btn-outline-primary">Listen</a></td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>-->

{% endblock%}




{% block javascript%}
{% endblock%}