{% extends 'songapp/base.html' %}
{%load static%}
{% block title %}All songs{% endblock %}



{% block body%}



          <div class="card mb-3" style="max-width: 1000px; padding-top:5%; padding-left:5%; border:0">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="/media/{{song.image}}" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                
                  <h3 class="card-title">{{song.name}}</h3>
                  <h4 class="card-text" style="padding-top:1%"> {{song.movie}}{{song.year}}</h4>
                  <h4 class="card-text" style="padding-top:1%"><small class="text-muted"> {{song.singer1}} {{song.singer2}}</small></h4>
                  <h4 class="card-text" style="padding-top:1%"><small class="text-muted"> {{song.tags}}</small></h4>
                 
                  <audio controls autoplay style="padding-top:2%;" >
                    <source src="/media/{{song.song}}" type="audio/mp3">
                  </audio
                   
                    <div class="row" style="padding-left: 3%;padding-top: 2%;">
                    
                     </div>
                     <div class="row" style="padding-left: 3%;padding-top: 2%;">
                           {% if user.is_authenticated %}
                  
                           <form action="/songs/watchlater/" method="POST">{% csrf_token %}
                            <input type="hidden" name="video_id" value="{{song.song_id}}">
                            <button type="submit" class="btn btn-outline-danger" id="submit_btn">Add to Listen Later</button>
                            </form>
                                  {%endif%}
                           {% if user.is_authenticated %}
                  
                    <form action="/likesong/" method="POST">{% csrf_token %}
                    <input type="hidden" name="music_id1" value="{{song.song_id}}">
                    <button type="submit" class="btn btn-outline-danger" id="submit_btn">like</button>
                    </form>
                         
                           {%endif%}
                          </div>
              
                  </div>  
                       
              </div>
            </div>
          </div>
          <div>
          </div>
            <hr style="padding-left:1%;">
          </div>
        </div>
          <!--all song name-->
        <div  style="padding-left:5%;">
          <h3> similar song...</h3>
          <table class="table">
      
            <thead>
              <tr>
           
                <th scope="col">Track</th>
                <th scope="col">artist</th>
                <th scope="col">play</th>
                <th scope="col">download</th>
              </tr>
            </thead>
            {% for songs in songall%}
            <tbody>
              <tr>
                <th scope="row"><img src="/media/{{songs.image}}" class="img-fluid rounded-start" alt="..." height="50px" width="50px">{{songs.name}}</th>
                <td>{{songs.singer1}}</td>
                <td> <audio controls style="padding-top:2%;" >
                  <source src="/media/{{songs.song}}" type="audio/mp3">
                </audio></td>
                
                <td><a href="/media/{{songs.song}}" download><img src="{% static 'images/download.png'%}" width="30px" height="30px"></i></a></td>
              </tr>
            </tbody>
            {%endfor%}
          </table>
        </div>
 
        <div>
          <hr style="padding-left:1%;">
        </div>
<!--testing purpose-->
<h2 style="padding-top:1%; padding-left:5%;">Artist</h2>
<div class="col" style="padding-top:2%; padding-left:5%;">
  <form action="/songs/singerpage/" method="POST">{% csrf_token %}
    <input type="hidden" name="singer_id" value="{{i.singer_id}}">
    <a href="/songs/singerpage/{{i.singer_id}}"><img src="/media/{{song.singerimage}}" class="rounded-circle" alt="..." width="120px" height="120px"></a>
    

  </form>
    
</div>
  <div class="col-2 ml-1" style="padding-left:5%;">
    <h4 >{{song.singer1}}</h4>
  </div>
  <div class="col-8">
    
  </div>
  <div>
    <hr style="padding-left:1%;">
  </div>



{% endblock%}




{% block javascript%}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    {%if message%}
    Swal.fire({
      position: 'top-end',
        icon: 'success',
        title: '{{message}}',
        showConfirmButton: false,
        timer: 1500
    });
    {%endif%}
  </script>
  
  
{% endblock%}