{% extends 'songapp/base.html' %}
{%load static%}
{% block title %}Watchlater{% endblock %}




{% block body%}
<h1 style="color: rgb(158, 60, 60); text-align: center;padding-top: 2%;">Watch Later</h1>

{% if song|length < 1 %}
        <h3 style="text-align: center; padding-top: 5%;">You have no Video in your Watch Later</h3>
{% endif %}
           
<div class="row" style="padding-left:2%;">
  {%for i in song reversed %}
  <div class="col-2" style="padding-top:2%;">
    <div class="card" style="width:10rem;">
      <img src="{{i.image.url}}" class="card-img-top" alt="..."  width="200px" height="150px">
      <div class="card-body">
        <h5 class="card-title">{{i.name}}</h5>
        
        <a href="/songs/songpost/{{i.song_id}}" class="btn  btn-outline-danger">Listen</a>
      </div>
    </div>
  </div>
  
  {% endfor %}
{%endblock%}





{% block javascript%}
{% endblock%}